<!DOCTYPE html>
<html>
  <head>
    <title>CodeBreaker</title>
    <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
  </head>
  <body>
    <div id="container">
      <h1>Welcome to Codebreaker Game</h1>
    
<div class="column">
      <div class="attempt">Available attempts: <%= @game.attempts_count %>, Secret code: <%= @game.secret_code %>
      </div>

  <div class="guess">Enter your guess:</div>
      
      
      <%unless @game.saved_result%>
        <% if @game.win %>
          <div> You won! Congratulations! </div>
        <% else %>
          <% if @game.attempts_count == 0 %>
            <div> You dont`have attempts. Game over! </div>
          <% else %>
            <form class="guess1" method="post" action="/check_guess">
             <input name="guess" type="text">
             <input type="submit" value="Submit">
            </form>
          <% end %>
        <% end %>
      <% end %>
      
      <form class="new-game" method="post" action="/new_game">
        <input type="submit" value="New game">
      </form>

      <% if (@game.win || @game.attempts_count == 0) && !@game.saved_result %>
        <form class="save" method="post" action="/save_result">
          <input name="name" type="text">
          <input type="submit" value="Save result">
        </form>
      <% end %>

           
      <% if hint && @game.attempts_count > 0 && !@game.saved_result && !@game.win %>
        <p><%= hint %></p>
        <form class="hint" method="get" action="/show_hint">
          <input type="submit" value="Hint">
        </form>
      <% end %>

      <div class="table1">
      <% if guesses && results %>
        <table>
          <% guesses.each_with_index do |guess, i| %>
            <tr>
              <td>Guess:</td>
              <td><%= guess %></td>
              <td>Result:</td>
              <td><%= results[i] %></td>
            </tr>
          <% end %>
        </table>
        <% end %>
      </div>

      <div class="results">
        <% if load_score.any? %>
          <table>
          <tr>
                <td>Num</td>
                <td>Name</td>
                <td>Turns</td>
                <td>Date</td>
              </tr>
            <% load_score.each_with_index do |row, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= row[0] %></td>
                <td><%= row[1] %></td>
                <td><%= row[2] %></td>
              </tr>
            <% end %>
          </table>
        <%end%>
      </div>
    </div>

    <div class="column">
      <div class="introducing">
         <h4 class="title">Introducing Codebreaker</h4>
         <ul class="list">
           <li>Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker. The code-maker, which will be played by the application we are going to write, creates a secret code of four numbers between 1 and 6.</li>
           <li>The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers. The code-maker then marks the guess with up to four + and - signs.</li>
           <li>A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.</li>
           <li>A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.</li>
          </ul>
      </div>
    </div> 


</div>
    
  </body>
</html>